.home-container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.05em;
  margin-bottom: 10px;
}

.home-container a {
  color: var(--green-color);
  font-weight: bold;
}
/* 
.home-container button {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--pink-color);
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  outline: none;
  font-size: 1em;
  border: solid 1px var(--pink-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-stage {
  background-color: var(--purple-color) !important;
  border: solid 1px var(--purple-color) !important;
}

.btn-stage:hover {
  color: var(--purple-color) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.home-container button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--pink-color);
  transition: all 0.3s;
} */

.logo-home img {
  width: 300px;
  height: auto;
  animation: float 2s ease-in-out infinite;
}

.logo-home {
  width: 800px;
  display: flex;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
