.home-container {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.05em;
  margin-bottom: 10px;
}

.home-container a {
  color: var(--green-color);
  font-weight: bold;
}

.logo-home img {
  width: 300px;
  height: auto;
  animation: float 2s ease-in-out infinite;
}

.logo-home {
  width: 800px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1285px) {
  .texts-home-container {
    width: 90%;
    margin-top: 50px;
  }
  .logo-home img {
    margin-top: 50px;
    width: 200px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
