.submit-meteo {
  background: var(--blue-color);
}

.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temp {
  font-size: 5em;
  font-weight: 600;
  color: var(--pink-color);
}

.location {
  font-weight: 600;
  font-size: 1.8em;
}

.weather p {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 200;
}

.more-meteo-infos {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-top: 40px;
  background-color: var(--bg2-color);
  padding: 15px;
  border-radius: 8px;
}

.more-meteo-infos .info {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info img {
  margin: 10px;
}

.info p {
  font-size: 20px;
}
