.form-minecraft{
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-minecraft{
    background: #7bfae994;
}

.submit-minecraft{
    background: var(--green-color);
}

.return-skin{
    width: 100%;
    display: flex;
    justify-content: center;
}
